* {
    box-sizing: border-box;
}
/* general style */
html {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;

}

body {
    display: grid;
    grid-template-areas: repeat(auto-fill, minmax(200px, 1fr));
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(img/banner.jpg);
    background-size: cover;
    background-position: center;

}

.content h1,
.content h2,
.content h3,
.content li {
    color: white; 

}

h1,
h2,
h3,
p,
i,
a,
li {
    color: white;  
}

.top-header {
    
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    text-align: center;
    justify-content: center;
    padding: 20px 20px 20px 20px;
    background-color: #95c9fa;
    opacity: 0.75;
}
.top-header .button:nth-child(5) {  /* Logout-button */
    grid-area: 1/14;
}

.top-header .button:nth-child(4){ /* User-button */
    grid-area: 1/13;
}

.top-header .button:nth-child(1){ /* Home-button */
    grid-area: 1/5;
}

.top-header .button:nth-child(3){ /* About-button */
    grid-area: 1/7;
}

.top-header .button:nth-child(2){ /* Applications-button */
    grid-area: 1/6;
}

.button {
    justify-items: right;
    padding: 5px 5px 5px 5px;
    color: inherit;
    background-color: transparent;
    text-decoration-line: none;
    border-radius: 8px;   
}
.button:hover, .button.active {
    border: 1px solid rgb(122, 116, 116);
    border-radius: 13px;
    background-color: whitesmoke;
    /* text-decoration-line: underline; */
    transition: all 0.65s ease-out;
}

/* login/register style */
main  .login-box {
    /* grid-template-areas: repeat(3, minmax(0, 150px)); */
    display: grid;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4rem;
    margin-bottom: 4rem;
    width: 22rem;
    max-width: calc(100% - 2rem);
}

