
/* Reset and General Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}
body {
    grid-template-areas: repeat(auto-fill, minmax(100px, 1fr));
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(img/banner.jpg);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
main {
    flex-grow: 1;
}

.content {
    color: rgb(18, 17, 17);
    background-color: rgb(221, 218, 218, 0.5);  
    align-items: center;
    text-align: center;
    margin-top: 3rem;
    margin-left: 25rem;
    margin-right: 25rem;
    padding: 1rem;
    border-radius: 20px;
}

.content h1, h2 {
  margin-bottom: 20px;
}
.content h3 {
  margin-bottom: 9px;
}

.requests{
    color: rgb(18, 17, 17);
    background-color: rgba(221, 218, 218, 0.5); 
    align-items: left;
    text-align: left;
    margin-top: 3rem;
    margin-right: 83rem;
    padding: 4rem;
    border-radius: 20px;
}

.requests a {
    color: rgb(0, 0, 0);
}
.requests h1 {
    margin-bottom: 20px;
}
.requests .button {
    color: black;
    background-color: rgba(221, 218, 218, 0.51);
    
}
.parent-element {
    margin-top: 20px;
}


.top-header {
    
    display: inline-flex;
    /* grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); */
    text-align: right;
    justify-content: right;
    padding: 20px 20px 20px 20px;
    background-color: #95c9fa;
    opacity: 0.75;
    
}


.top-header .button:nth-child(4) {  /* Logout-button */
    margin-right: 40%;
}


.button {
    justify-items: right;
    padding: 5px 5px 5px 5px;
    color: inherit;
    background-color: transparent;
    text-decoration: none;
    border-radius: 8px;
    transition: all 0.3s ease;
  }
  
  .top-header .button:hover,
  .top-header .button.active {
    border: 1px solid rgb(122, 116, 116);
    border-radius: 13px;
    background-color: whitesmoke;
  }
  
  /* Main Content */
  main {
    margin: 2rem;
    flex-grow: 1;
  }
  
  /* Login/Register Styles */
  .login-box {
    display: grid;
    place-items: center;
    margin: 4rem auto;
    max-width: 22rem;
    width: 100%;
  }
  
form {
    padding: 0.5rem;
}

  .shake-horizontal {
    animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
  }
  
  @keyframes shake-horizontal {
    0%,
    100% {
      transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70% {
      transform: translateX(-10px);
    }
    20%,
     40%,
     60% {
       transform: translateX(10px);
     }
     80% {
       transform: translateX(8px);
     }
     90% {
       transform: translateX(-8px);
     }
  }

  footer{
    margin-top: auto;
    background-color: #89bded;
    padding: 1rem;
    text-align: center;
}