html {
    font-size: 15px;
    font-family: Roboto, sans-serif;
    scroll-behavior: smooth;

}

body {
    grid-template-columns: auto;
}

header {
    text-align: center;
    padding: 20px 20px 20px 20px;
    background-color: #c6dcf0 
}
a.button {
    padding: 5px 5px 5px 5px;
    color: inherit;
    background-color: transparent;
    text-decoration-line: none;
    border-radius: 8px;
    
}
a:hover {
    border: 1px solid rgb(122, 116, 116);
    border-radius: 13px;
    background-color: whitesmoke;
    /* text-decoration-line: underline; */
    transition: all 0.75s ease-out;
}