<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link rel='stylesheet' href="{% static 'css/style.css' %}">
</head>
<body>
    <header>

        <a href="{% url 'index' %}">Home</a>
        <a href="{% url 'about_us' %}">About us</a>
        <a href="{% url 'application_list' %}">Applications</a>
    </header>
    <main>
        {% block content %}
        {% endblock content %}
    </main>
</body>
</html>