{% extends 'base.html' %}
{% load static %}
{% block stylesheet %}<link rel='stylesheet' href="{% static 'css/style.css' %}">{% endblock stylesheet %}

{% block content %}

<div class= "content">
<h1>About Us</h1>

<p>JRZ Personal Management System is a user-friendly platform designed to simplify personnel management for small businesses. 
    <br><br>Our mission is to provide accessible software solutions that streamline employee requests, eliminating the need for paperwork. With our system, you can effortlessly submit and approve various requests, ensuring smooth operations and enhanced productivity. 
    <br><br>We value user experience and continuously strive to meet evolving needs. 
    <br><br>Join our community and experience streamlined personnel management for the growth and success of your business.</p>

</div>

{% endblock content %}