{% extends 'base.html' %}
{% load static %}
{% block stylesheet %}<link rel='stylesheet' href="{% static 'css/style.css' %}">{% endblock stylesheet %}

{% block content %}
<h2>About Us</h2>
<p>Welcome to JRZ Personal Management System, a project that was born out of the passion and determination of three individuals who embarked on a journey to learn programming. Recognizing a gap in the market, we realized that there was a need for accessible software solutions that would empower small businesses to efficiently utilize their resources while seamlessly managing employee requests.</p>

<p>At JRZ Personal Management System, we believe in the power of technology to simplify and streamline complex processes. Our mission is to provide small businesses with a user-friendly platform that enables them to effectively handle and process various employee requests, eliminating the need for cumbersome paperwork.</p>

<p>With our system, you can effortlessly submit and approve a wide range of requests, from leave applications to schedule changes and more. We understand the importance of accuracy and responsiveness, which is why our system allows you to quickly address any errors or issues specified in the requests, ensuring smooth operations and enhanced productivity.</p>

<p>We are committed to delivering a seamless user experience, allowing you to conveniently provide and receive feedback within the system. Your satisfaction is our priority, and we continuously strive to enhance our platform to meet your evolving needs.</p>

<p>Join the growing community of small businesses that have embraced the efficiency and convenience offered by JRZ Personal Management System. Experience the power of streamlined personnel management, leaving you with more time and resources to focus on what truly matters – the growth and success of your business.</p>



{% endblock content %}