{% extends 'base.html' %}
{% load static %}
{% block stylesheet %}<link rel='stylesheet' href="{% static 'css/style.css' %}">{% endblock stylesheet %}
{% block content %}
<div class= "content">
<h1> Welcome to JRZ Personal Managment System!</h1>
<h2> Efficiency and Growth through Effective Personnel Management </h2>
<h3> With the help of this system, you can:</h3>
    <ul>
        <p>Efficiently submit/approve various requests</p>
        <p>Quickly respond to errors specified in the requests</p>
        <p>Easily provide/receive feedback</p>
        <p>Safely eliminate paper usage</p>
    </ul>
</div>

{% endblock content %}