{% extends 'base.html' %}
{% load static %}
{% block stylesheet %}<link rel='stylesheet' href="{% static 'css/style.css' %}">{% endblock stylesheet %}
{% block content %}

<h1> Welcome to JRZ Personal Managment System!</h1>
<h2> Efficiency and Growth through Effective Personnel Management </h2>
<h3> With the help of this system, you can:</h3>
    <ul>
        <li>Efficiently submit/approve various requests</li>
        <li>Quickly respond to errors specified in the requests</li>
        <li>Easily provide/receive feedback</li>
        <li>Safely eliminate paper usage</li>
    </ul>


{% endblock content %}