{% extends 'base.html' %}
{% load static %}
{% block stylesheet %}<link rel='stylesheet' href="{% static 'css/style.css' %}">{% endblock stylesheet %}
{% block title %}My applications{% endblock title %}
{% block content %}

<div class= "content">
    <h1>My applications</h1>
    <h1>{{ application.content }}</h1>
    <ul>
        <li>{{ application.date_created }}</li>
        <li>{{ application.date_created }}</li>
        <li>{{ application.date_created }}</li>
        <li>{{ application.date_created }}</li>
        <li>{{ application.date_created }}</li>
    </ul> 
    <a class='button' href="{% url 'createPDF' application.pk%}">Export pdf</a>
    {% if user.is_staff %}
    <a class='button' href="{% url 'update_application_instance' application.pk %}">Update Form</a>
    {% endif %}
</div>
{% endblock content %}