{% extends 'base.html' %}
{% load static %}
{% block stylesheet %}<link rel='stylesheet' href="{% static 'css/style.css' %}">{% endblock stylesheet %}
{% block title %}My applications{% endblock title %}
{% block content %}
<div class= "requests">
    <h1>My applications</h1>
    {% if user_applications %}
    <ul>
        {% for application in user_applications %}
            <li><a href="{% url 'user_application_detail' application.pk %}">Application: #{{ application.id }} {{ application.application}}</a>
                <br><i> Status - </i>
                {% if application.status == 0 %} 
                <span style="color: rgb(8, 61, 184);"><strong> New</strong></span>
                {% elif application.status == 1 %} 
                <span style="color: green;"><strong> Approved</strong></span>
                {% elif application.status == 2 %} 
                <span style="color: red;"><strong> Declined</strong></span>
                {% else %}
                {% endif %}
            </li>
        {% endfor %} 
    </ul>
    {% else %}
    <p>No application forms found</p>
    {% endif %}

{% endblock content %}
</div>